
  <label id="example-radio-group-label">Pick your favorite radio</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="bbc">
    <mat-radio-button class="example-radio-button" *ngFor="let radio of radios" [value]="radio">
      {{radio}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Your favorite network is: {{bbc}}</div>
  <br>
  <p *ngIf="show">"{{invalid}}" Is not a valid option !!!</p>




