<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf = "!hasError"> The Temperature in {{country}} is: {{(weatherData$ | async).temperature | number: '1.0-0' }}º </mat-card-title>
      <mat-card-title *ngIf = "hasError"> {{errorMessage}} </mat-card-title>
      <mat-card-subtitle>
        the lon is: {{lat}}
        <br>
        the lat is: {{lon}}
      </mat-card-subtitle>
    </mat-card-header>
    
    
    <mat-card-content *ngIf = "!hasError">
      <img  [src]= "image" >

      <a routerLink="/city" routerLinkActive="active">Select City</a>
    
    </mat-card-content>
    
  </mat-card>
  